@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: Open Sans;
    overflow-x: hidden;
}

#index-body {
    overflow-y: hidden;
}

.svg {
    display: block;
}


.button {
    border-top: 2px solid;
    border-bottom: 2px solid;
    padding: 10px 20px;
    margin: 0;
    font-family: Open Sans; 
}

.btn-container {
    display: flex;
    gap: 0;
}

#domain-btn {
    border-top-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 10px;
}

#method-btn {
    border-top-left-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 0;
}

.active {
    background-color: #d5dee9;
    border-left: 2px solid;
    border-right: 2px solid;
    border-color:rgb(56, 136, 206);
    color: rgb(56, 136, 206);
    font-weight: bold;
}

.unactive {
    background-color: white;
    border-left: 2px solid;
    border-right: 2px solid;
    border-color:rgb(170, 169, 173);
    color: rgb(113, 112, 115);
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.btn-and-dropdown-container, .svg-container {
    box-sizing: border-box;
}

.btn-and-dropdown-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
}

.svg-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 90px;
}

.btn-container {
    margin-top: 5%;
    margin-bottom: 5%;
}

.dropdowns {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.dropdown:focus {
    outline: none;
}

.dropdown {
    display: flex;
    height: 30px;
    width: 300px;
    font-family: Open Sans;
    border-radius: 5px;
}

.circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(0, 0, 255, 0.2); /* Default color */
}

.rect {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 0;
}

ul {
    list-style-type: none;
    margin-bottom: 15%;
    margin-top: 40px;
}

span {
    margin-right: 10px;
}


#legend-list li {
    font-size: 12px;
    line-height: 1;   
}

.hidden {
    display: none;
}

/* for node.html */

.main-header, #content-section {
    padding: 20px;
}


h1 {
    margin: 0;
}

h2 {
    margin: 0;
    font-size: 20px;
}

h3 {
    margin: 0;
    font-size: 15px;
}

h4 {
    margin: 0;
    font-size: 13px;
}


#topics-content {
    padding: 20px;
}

.indv-topic-container {
    padding: 20px;
}

#size-rank-text {
    font-size: 20px;
    padding: 0;
    margin-top: 0;
}

#research-topics-text {
    font-size: 20px;
    margin-top: 0;
}

.bar {
    fill: rgb(87, 129, 193);
}

#faculty-stats-btn {
    margin-top: 30px; 
    padding: 5px;
    font-family: Open Sans;
    
}














